In [10]:
import random

import geopandas as gpd
import numpy as np

In [5]:
df = gpd.read_file("lights.gpkg")
df.head()

   osm_id                   geometry
0   99939  POINT (-0.15546 51.52244)
1  101837  POINT (-0.15489 51.53729)
2  101843  POINT (-0.16368 51.53494)
3  101875  POINT (-0.16554 51.52820)
4  101984  POINT (-0.14513 51.52375)

In [11]:
df["gr"] = [random.randint(1, 3) for k in df.index]

In [12]:
df.head()

   osm_id                   geometry  gr
0   99939  POINT (-0.15546 51.52244)   1
1  101837  POINT (-0.15489 51.53729)   1
2  101843  POINT (-0.16368 51.53494)   2
3  101875  POINT (-0.16554 51.52820)   2
4  101984  POINT (-0.14513 51.52375)   2

In [16]:
np.unique(df.gr, return_counts=True)

(array([1, 2, 3]), array([22251, 22607, 22445]))

In [17]:
df.to_file("lights-gr.gpkg")